body {
  margin: 0;
  font-family: "Cormorant Infant", serif;
  background-color: #fefefc;
  color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  overflow: hidden;
}

.invitation {
  width: 100%;
  margin: auto;
  max-width: 600px;
}

.column {
  background: #ffffff;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 600px;
  background-image: url("images/wedding.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header-title {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 58px;
}

.couple-name {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
}

.wadding-date {
  font-family: "Great Vibes", cursive;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: -28px;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.block-title {
  text-transform: uppercase;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 400;
}

.block-description {
  width: 350px;
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
}

.calendar p {
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 25px;
}

.calendar table {
  border-collapse: separate;
  border-spacing: 10px 10px; /* горизонталь, вертикаль */
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.calendar th,
.calendar td {
  font-family: "Cormorant Infant", serif;
  font-size: 18px;
  width: 30px;
  height: 30px;
}
.highlight {
  background-color: #929292;
  border-radius: 50%;
  color: #fff;
}

.dress-code-title {
  font-family: "Great Vibes", cursive;
  font-size: 20px;
}

.dress-code-description {
  font-family: "Cormorant Infant", serif;
  font-size: 20px;
}

.contacts {
  width: 100%;
  height: 600px;
  background-image: url("images/dark2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.qr {
  font-family: "Cormorant Infant", serif;
  font-size: 22px;
}

.program,
.chat,
.contacts,
.closing,
.venue,
.dress-code,
.details,
.qr {
  text-align: center;
}

.venue img {
  width: 100%;
  border-radius: 130px;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

/* Базовый класс для скрытых элементов */
.animate {
  opacity: 0;
  transition: all 2s ease-out;
  will-change: opacity, transform;
}

/* Картинки: слева направо */
.slide-left {
  transform: translateX(-50px);
}
.slide-left.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Картинки: справа налево */
.slide-right {
  transform: translateX(50px);
}
.slide-right.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Текст: снизу вверх */
.fade-up {
  transform: translateY(40px);
}
.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  font-family: "Cormorant Infant", serif;
  font-size: 20px;
}

.social {
  display: flex;
  gap: 10px;
}
